.app{
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.portfolio-gallery{
	margin-top: 40px;
	margin-left: 5%;
	margin-right: 5%;
}

.input{
	width: 300px;
}